* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: #f7f7f7;
  overflow: hidden;
}


.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.curve {
  position: absolute;
  width: 900px;
  height: 900px;
  background: linear-gradient(135deg, #4caf8f, #63c4a5);
  border-radius: 50%;

  top: -300px;
  left: -300px;

  transition: transform 1s ease-in-out;
}

.curve h1 {
  position: absolute;
  color: #fff;
  font-size: 40px;
  font-weight: 600;

  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);

  transition: all 0.8s ease;
}


.form-box {
  position: absolute;
  top: 50%;
  width: 320px;
  padding: 28px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.18);

  transform: translateY(-50%);
  transition: all 0.8s ease;
}


.signin {
  right: 160px;
  opacity: 1;
  pointer-events: auto;
}


.signup {
  left: 160px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-60px, -50%);
}

.form-box input {
  width: 100%;
  padding: 11px;
  margin-bottom: 14px;
  border: none;
  border-radius: 6px;
  background: #f1f1f1;
}

.form-box button {
  width: 100%;
  padding: 11px;
  background: #4caf8f;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

.switch {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

.switch span {
  color: #4caf8f;
  cursor: pointer;
  font-weight: 600;
}

.container.signup-active .curve {
  transform: translate(65vw, 65vh);
}

.container.signup-active .curve h1 {
  left: 35%;
}

.container.signup-active .signin {
  opacity: 0;
  pointer-events: none;
  transform: translate(60px, -50%);
}

.container.signup-active .signup {
  opacity: 1;
  pointer-events: auto;
  transform: translate(0, -50%);
}
